[submodule "asdf"]
	path = stows/home/asdf/.asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "tpm"]
	path = stows/home/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "stows/home/php/tags/php/phpstorm-stubs"]
	path = stows/home/php/tags/php/phpstorm-stubs
	url = https://github.com/JetBrains/phpstorm-stubs
[submodule "stows/home/java/repos/eclipse/eclipse.jdt.ls"]
	path = stows/home/java/repos/eclipse/eclipse.jdt.ls
	url = https://github.com/eclipse/eclipse.jdt.ls
[submodule "stows/home/groovy/tags/groovy/github/apache/groovy"]
	path = stows/home/groovy/tags/groovy/github/apache/groovy
	url = https://github.com/apache/groovy.git
