[submodule "stows/home/ruby/.rbenv"]
	path = stows/home/ruby/.rbenv
	url = https://github.com/dhermanson/rbenv.git
[submodule "stows/home/tmux/.tmux/plugins/tpm"]
	path = stows/home/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "stows/home/zsh/.config/base16-shell"]
	path = stows/home/zsh/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
