xset r rate 250 80 &
xrdb -load ~/.Xresources &
xmodmap ~/.Xmodmap &
mpd &
#urxvtd &
dunst &
redshift -O 2800 &
udiskie &
#dropbox start &
#blueman-applet &
#nitrogen --restore &



# skippy-xd --start-daemon &
compton -c -C --config ~/.config/compton/compton.conf &
# redshift &
# nm-applet &
# volumeicon &