! *font: xft:Source Code Pro:style=Reguler:size=14:antialias=true:hinting=true
! *boldFont: xft:Source Code Pro:style=Bold:size=14:antialias=true:hinting=true
! *italicFont: xft:Source Code Pro:style=Oblique:size=14:antialias=true:hinting=true
! *boldItalicFont: xft:Source Code Pro:style=Bold Oblique:size=14:antialias=true:hinting=true

! emacs*font: Source Code Pro:size=14:antialias=true:hinting=true
emacs*font: Source Code Pro-14
emacs*boldFont: Source Code Pro:size=14:antialias=true:hinting=true
emacs*italicFont: Source Code Pro:style=Oblique:size=14:antialias=true:hinting=true
emacs*boldItalicFont: Source Code Pro:style=Bold Oblique:size=14:antialias=true:hinting=true


! XFT and Font settings
Xft*dpi:       96
Xft*antialias: true
Xft*hinting:   true
Xft*hintstyle: hintfull
Xft*rgba:      rgb

!! URXVT
! https://wiki.archlinux.org/index.php/rxvt-unicode
! URxvt*.termName: rxvt-unicode-256color
URxvt*font: xft:Source Code Pro:style=Regular:size=16:antialias=true:hinting=true
URxvt*termName: rxvt-256color
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.scrollBar: false
URxvt.perl-ext:
URxvt.perl-ext-common: resize-font

! xterm
XTerm.termName: xterm-256color
XTerm*renderFont: true

XTerm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font()

XTerm.vt100.metaSendsEscape: true


! Face size for normal:
XTerm.VT100.faceSize:  14
! Face sizes for alternates:
! Unreadable:
XTerm.VT100.faceSize1:  12 
! Tiny:
XTerm.VT100.faceSize2:  14 
! Small:
XTerm.VT100.faceSize3:  20
! Medium:
XTerm.VT100.faceSize4:  24
! Large:
XTerm.VT100.faceSize5:  28
! Huge:
XTerm.VT100.faceSize6:  32

! UXTerm
UXTerm*bellIsUrgent: true
 ! URxvt*tintColor: gray10
URxvt*internalBorder: 0
URxvt*jumpScroll: true
URxvt*urgentOnBell: true
URxvt*visualBell: false
URxvt*pointerBlank: true
URxvt*saveLines: 4000
URxvt*secondaryScroll: true
URxvt*scrollBar: false
! URxvt*scrollTtyKeypress: true
! URxvt*scrollWithBuffer: true

! Base16 OneDark
! Scheme: Lalit Magant (http://github.com/tilal6991)

#define base00 #282c34
#define base01 #353b45
#define base02 #3e4451
#define base03 #545862
#define base04 #565c64
#define base05 #abb2bf
#define base06 #b6bdca
#define base07 #c8ccd4
#define base08 #e06c75
#define base09 #d19a66
#define base0A #e5c07b
#define base0B #98c379
#define base0C #56b6c2
#define base0D #61afef
#define base0E #c678dd
#define base0F #be5046

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06