*font: xft:Source Code Pro:style=Reguler:size=16:antialias=true:hinting=true
*boldFont: xft:Source Code Pro:style=Bold:size=16:antialias=true:hinting=true
*italicFont: xft:Source Code Pro:style=Oblique:size=16:antialias=true:hinting=true
*boldItalicFont: xft:Source Code Pro:style=Bold Oblique:size=16:antialias=true:hinting=true

emacs*font: Source Code Pro:size=16:antialias=true:hinting=true
emacs*boldFont: Source Code Pro:size=16:antialias=true:hinting=true
emacs*italicFont: Source Code Pro:style=Oblique:size=16:antialias=true:hinting=true
emacs*boldItalicFont: Source Code Pro:style=Bold Oblique:size=16:antialias=true:hinting=true

URxvt*font: xft:Source Code Pro:style=Regular:size=16:antialias=true:hinting=true

! XFT and Font settings
Xft*dpi:       96
Xft*antialias: true
Xft*hinting:   true
Xft*hintstyle: hintfull
Xft*rgba:      rgb

! zenburn
URxvt*termName: rxvt-256color
URxvt*xftAntialias: true
URxvt*background: #3f3f3f
URxvt*foreground: #dcdccc
URxvt*cursorColor: #aaaaaa
URxvt*colorUL: #366060
URxvt*underlineColor: #dfaf8f
URxvt*color0: #3f3f3f
URxvt*color1: #cc9393
URxvt*color2: #7f9f7f
URxvt*color3: #d0bf8f
URxvt*color4: #6ca0a3
URxvt*color5: #dc8cc3
URxvt*color6: #93e0e3
URxvt*color7: #dcdccc
URxvt*color8: #000000
URxvt*color9: #dca3a3
URxvt*color10: #bfebbf
URxvt*color11: #f0dfaf
URxvt*color12: #8cd0d3
URxvt*color13: #dc8cc3
URxvt*color14: #93e0e3
URxvt*color15: #ffffff

!! URXVT
! https://wiki.archlinux.org/index.php/rxvt-unicode
! URxvt*.termName: rxvt-unicode-256color
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.scrollBar: false
URxvt.perl-ext:
URxvt.perl-ext-common: resize-font

! xterm
XTerm.termName: xterm-256color
XTerm*renderFont: true

XTerm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font()

XTerm.vt100.metaSendsEscape: true


! Face size for normal:
XTerm.VT100.faceSize:  14
! Face sizes for alternates:
! Unreadable:
XTerm.VT100.faceSize1:  12 
! Tiny:
XTerm.VT100.faceSize2:  14 
! Small:
XTerm.VT100.faceSize3:  20
! Medium:
XTerm.VT100.faceSize4:  24
! Large:
XTerm.VT100.faceSize5:  28
! Huge:
XTerm.VT100.faceSize6:  32

! General colors
 ! *background: #0F0F0F
 ! *foreground: #F5DEB3
 ! *color0: #0F0F0F
 ! *color1: #9e1828
 ! *color2: #aece92
 ! *color3: #968a38
 ! *color4: #414171
 ! *color5: #963c59
 ! *color6: #418179
 ! *color7: #bebebe
 ! *color8: #666666
 ! *color9: #cf6171
 ! *color10: #c5f779
 ! *color11: #fff796
 ! *color12: #4186be
 ! *color13: #cf9ebe
 ! *color14: #71bebe
 ! *color15: #efefef
 ! *cursorColor: magenta

! UXTerm
UXTerm*bellIsUrgent: true
 URxvt*tintColor: gray10
URxvt*internalBorder: 0
URxvt*jumpScroll: true
URxvt*urgentOnBell: true
URxvt*visualBell: false
URxvt*pointerBlank: true
URxvt*saveLines: 4000
URxvt*secondaryScroll: true
URxvt*scrollBar: false
! URxvt*scrollTtyKeypress: true
! URxvt*scrollWithBuffer: true
